<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso web</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso para web</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/insight_logo_full_color.png" class="img-fluid rounded-start" alt="Imagen del Curso">
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso programacion basica</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso basico de programacion de 0 a experto</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/insight_logo_full_color.png" class="img-fluid rounded-start" alt="Imagen del Curso">
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Machine learning</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso basico de Machine learning</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/machinelearning.jpg" class="img-fluid rounded-start" alt="Imagen del Curso">
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso Python</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso python de 0 a experto</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/python.jpg" class="img-fluid rounded-start" alt="Imagen del Curso">
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Puedes agregar más bloques similares para más cards -->
</div>
