<div class="container">
  <H1 class="text-center">Cursos</H1> 
    <button class="btn btn-success btn-sm me-2 rounded-pill"  title="" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="ri-add-circle-fill ri-lg"></i> Agregar Curso</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Curso nuevo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre</span>
          <input type="text" class="form-control" placeholder="Nombre del curso" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Descripicon</span>
          <input type="text" class="form-control" placeholder="Añade una descripcion llamativa" aria-label="Añade una descripcion llamativa" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Periodo</span>
          <select class="form-select mb-2" aria-label="Default select example">
            <option selected disabled>seleccionar periodo</option>
            <option value="1">A</option>
            <option value="2">B</option>
          </select>
        </div>
       

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Costo $</span>
          <input type="number" class="form-control" placeholder="Precio en pesos MXN" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
          <span class="input-group-text">Temas</span>
          <textarea class="form-control" placeholder="Escribe los temas que seran vistos en el curso" aria-label="With textarea"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ri-close-circle-fill"></i> Cancelar</button>
        <button type="button" class="btn btn-success"><i class="ri-checkbox-circle-fill"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- <H1 class="text-center">Alumnos</H1>  -->

    <select class="form-select mb-2 mt-2" aria-label="Default select example">
      <option selected disabled>seleccionar Consulta</option>
      <option value="1">Consulta general</option>
      <option value="2">Curso por maestro</option>
      <option value="3">Reseñas por curso</option>
      <option value="4">Alumnos por curso</option>
    </select>
    <button class="btn btn-primary btn-sm me-2 rounded-pill"  title=""><i class="ri-search-line ri-lg"></i> Buscar</button>

    <hr>

    <!-- <div class="table-responsive"> 
        
      <table class="table table-striped table-hover rounded-table">
        <thead>
          <tr>
            <th class="bg-warning">Acciones</th>
            <th class="bg-warning">ID</th>
            <th class="bg-warning">Nombre</th>
            <th class="bg-warning">Descripicon</th>
            <th class="bg-warning">Periodo</th>
            <th class="bg-warning">Costo</th>
            <th class="bg-warning">Temas</th>

            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button class="btn btn-danger btn-sm rounded-circle" title="Eliminar"><i class="ri-delete-bin-fill"></i> </button>
            </td>
            <td>1</td>
            <td>Curso web</td>
            <td>curso para web</td>
            <td>Enero-junio A</td>
            <td>500</td>
            <td>¿que html? - primeros pasos e instalaciones - como crear tu primera pagina web - detalles avanzados...</td>
            
          </tr>
          <tr>
            <td>
              <button class="btn btn-danger btn-sm rounded-circle" title="Eliminar"><i class="ri-delete-bin-fill"></i> </button>
            </td>
            <td>2</td>
            <td>Curso programacion basica </td>
            <td>curso basico de programacion de 0 a experto</td>
            <td>Enero-junio A</td>
            <td>550</td>
            <td>¿que es la programacion? - primeros pasos e instalaciones - condicionales - ciclos ...</td>
           
          </tr>
          <tr>
            <td>
              <button class="btn btn-danger btn-sm rounded-circle" title="Eliminar"><i class="ri-delete-bin-fill"></i> </button>
            </td>
            <td>3</td>
            <td>Jane Smith</td>
            <td>Smith</td>
            <td>correo@ejemplo.com</td>
            <td>555-55-53</td>
            
          </tr>
         
        </tbody>
      </table>
    </div> -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso web</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso para web</p>
                <p class="card-text"><small class="text-muted"><strong>Periodo:</strong> Enero-junio A</small></p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $500</small></p>
                <p class="card-text"><small class="text-muted"><strong>Temario:</strong> ¿que html? - primeros pasos e instalaciones - como crear tu primera pagina web - detalles avanzados</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <img src="/assets/insight_logo_full_color.png" class="img-fluid rounded-start" alt="Imagen del Curso"> -->
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <!-- <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso programacion basica</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso basico de programacion de 0 a experto</p>
                <p class="card-text"><small class="text-muted"><strong>Periodo:</strong> Enero-junio A</small></p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $550</small></p>
                <p class="card-text"><small class="text-muted"><strong>Temario:</strong> ¿que es la programacion? - primeros pasos e instalaciones - condicionales - ciclos ...</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <img src="/assets/insight_logo_full_color.png" class="img-fluid rounded-start" alt="Imagen del Curso"> -->
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <!-- <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Machine learning</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso basico de Machine learning</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <img src="/assets/machinelearning.jpg" class="img-fluid rounded-start" alt="Imagen del Curso"> -->
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <!-- <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card my-3 shadow d-flex flex-column h-100">
        <div class="card-content">
          <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body">
                <h5 class="card-title">Curso Python</h5>
                <p class="card-text"> <strong>Descripción del curso:</strong> curso python de 0 a experto</p>
                <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <img src="/assets/python.jpg" class="img-fluid rounded-start" alt="Imagen del Curso"> -->
            </div>
          </div>
        </div>
        <div class="card-footer mt-auto">
          <!-- <button class="btn btn-success"><i class="ri-eye-line"></i> Ver más</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Puedes agregar más bloques similares para más cards -->
</div>
