<div class="main-container d-flex align-items-center justify-content-center">
  <div class="dashboard-content text-center p-5">
     <h1 class="display-5 mb-4">¡Bienvenido!</h1>
     <hr>
   <!-- <img src="/assets/insight_logo_full_color.png" class="img-fluid mb-4" style="max-height: 150px;" alt="Logo">

    
    <div class="clock">
      <kbd class="clock-text shadow-lg">{{ currentTime | date: 'hh:mm:ss a' }} </kbd>
    </div>
    
    <div class="dashboard-content text-center p-5 ">
      <i class="ri-star-fill fs-3 text-warning"></i>
      <i class="ri-computer-line fs-3 text-danger"></i>
      <i class="ri-lightbulb-fill fs-3 text-info"></i>
    </div> -->

    <div class="container mt-5">
      <div class="row">
  
          <div class="col-md-6 col-sm-12 mb-4">
              <a href="/dashboard/cursos" style="text-decoration: none; color: inherit;">
                  <div class="card">
                      <img src="/assets/cursoonline.jpg" class="card-img-top" alt="cursoonline">
                      <div class="card-body">
                          <h5 class="card-title">Cursos</h5>
                          <p class="card-text">Accede a tus cursos facil y rapido</p>
                      </div>
                  </div>
              </a>
          </div>
  
          <div class="col-md-6 col-sm-12 mb-4">
              <a href="/dashboard/cursos" style="text-decoration: none; color: inherit;">
                  <div class="card">
                      <img src="/assets/stripe.jpg" class="card-img-top" alt="stripe">
                      <div class="card-body">
                          <h5 class="card-title">Pagos</h5>
                          <p class="card-text">consulta los pagos realizados</p>
                      </div>
                  </div>
              </a>
          </div>
  
          <div class="col-md-6 col-sm-12 mb-4">
              <a href="html_cursos.html" style="text-decoration: none; color: inherit;">
                  <div class="card">
                      <img src="/assets/cursoonline.jpg" class="card-img-top" alt="stripe">
                      <div class="card-body">
                          <h5 class="card-title">Pagos</h5>
                          <p class="card-text">Realiza tu pago</p>
                      </div>
                  </div>
              </a>
          </div>
  
          <div class="col-md-6 col-sm-12 mb-4">
              <a href="html_cursos.html" style="text-decoration: none; color: inherit;">
                  <div class="card">
                      <img src="imagenes/cursoonline.jpg" class="card-img-top" alt="cursoonline">
                      <div class="card-body">
                          <h5 class="card-title">Cursos</h5>
                          <p class="card-text">Accede ya a una infinidad de cursos</p>
                      </div>
                  </div>
              </a>
          </div>
  
      </div>
  </div>

    <!-- <div class="card my-3 shadow">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Curso web</h5>
            <p class="card-text"> <strong>Descripción del curso:</strong> curso para web</p>
            <p class="card-text"><small class="text-muted"><strong>Cuota:</strong> $XXX</small></p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/assets/insight_logo_full_color.png" class="img-fluid rounded-start" alt="Imagen del Curso">
        </div>
      </div>
      <div class="card-footer">
        <a href="/dashboard/cursos" class="btn btn-success"> ver mas</a>
      </div>
    </div>


    <div class="container my-3">

      
      <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
          <div class="card h-100">
            <img src="/assets/insight_logo_full_color.png" class="card-img-top" alt="Imagen 1">
            <div class="card-body">
              <h5 class="card-title">Cursos</h5>
              <p class="card-text">administra tus cursos y talleres desde aqui. 👇</p>
              <a href="/dashboard/cursos" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/insight_logo_full_color.png" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
              <h5 class="card-title">Pagos</h5>
              <p class="card-text">consulta los pagos facil y rapido 💸</p>
              <a href="/dashboard/pagos" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/insight_logo_full_color.png" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
              <h5 class="card-title">Pagos</h5>
              <p class="card-text">consulta los pagos facil y rapido 💸</p>
              <a href="/dashboard/pagos" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        
      </div>
    </div> -->
    
    
  </div>
</div>



<!-- <script>
      $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });

        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');

        });


        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');

        })
</script> -->