.profile-icon {
    font-size: 4rem;
  }
  
  .card {
    border: 2px solid green;
    border-radius: 10px;
  }
  
  .welcome-message p {
    font-weight: bold;
  }
  
  .info-item label {
    font-weight: bold;
  }
  
  .info-item p {
    margin: 0;
  }
  
  .profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-right {
    flex-grow: 1;
  }
  