body{
    background: #eee;
   }
   
   #side_nav{
         background: hsla(33, 100%, 53%, 1);

        background: linear-gradient(360deg, hsla(33, 100%, 53%, 1) 0%, hsla(46, 92%, 58%, 1) 100%);

        background: -moz-linear-gradient(360deg, hsla(33, 100%, 53%, 1) 0%, hsla(46, 92%, 58%, 1) 100%);

        background: -webkit-linear-gradient(360deg, hsla(33, 100%, 53%, 1) 0%, hsla(46, 92%, 58%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#f6c934", GradientType=1 );
        min-width: 250px;
        max-width: 250px;
        transition: all 0.3s;
        /* transition: margin-left 0.3s; */
   }

   #side_nav.active {
    margin-left: 0 !important;
    background-color: lightgray; /* Añade un color de fondo para verificar la aplicación de la clase active */
  }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }
   
   .sidebar li.active{
      background: #eee;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #fff;
   }

  .custom-btn:hover .text-content {
    transform: translateX(15px); /* Puedes ajustar la cantidad de desplazamiento según tus preferencias */
    transition: transform 0.3s;
  }

   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }